<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
    
</head>
<body>
   
    <div class="w-full h-full bg-zinc-900 p-10 text-white">
        <div class="nav mb-10 text-zinc-500">
            <a href="/" class="text-blue-500">back to Home</a>
        </div>
        <form action="">
            <h1 class="text-3xl tracking-tighter md-3">All Users</h1>
            <div class="users flex gap-3 flex-wrap">
                <div class=" mt-3 user max-w-72 rounded-lg p-4 bg-zinc-800">
                    <div class="w-full h-52 bg-zinc-500 rounded-lg "></div>
                    <h3 class="text-xl mt-3 tracking-tighter">Raziullah Siddavatam</h3>
                    <h5 class="text-zinc-500">Razi@children.com</h5>
                    <div class="flex gap-3 mt-3">
                        <a class="text-zinc-200" href="">Edit User</a>
                        <a class="text-red-500" href="">Delete user</a>
                    </div>
                </div>

                <div class=" mt-3 user max-w-72 rounded-lg p-4 bg-zinc-800">
                    <div class="w-full h-52 bg-zinc-500 rounded-lg "></div>
                    <h3 class="text-xl mt-3 tracking-tighter">Raziullah Siddavatam</h3>
                    <h5 class="text-zinc-500">Razi@children.com</h5>
                    <div class="flex gap-3 mt-3">
                        <a class="text-zinc-200" href="">Edit User</a>
                        <a class="text-red-500" href="">Delete user</a>
                    </div>
                </div>
                <div class=" mt-3 user max-w-72 rounded-lg p-4 bg-zinc-800">
                    <div class="w-full h-52 bg-zinc-500 rounded-lg "></div>
                    <h3 class="text-xl mt-3 tracking-tighter">Raziullah Siddavatam</h3>
                    <h5 class="text-zinc-500">Razi@children.com</h5>
                    <div class="flex gap-3 mt-3">
                        <a class="text-zinc-200" href="">Edit User</a>
                        <a class="text-red-500" href="">Delete user</a>
                    </div>
                </div>
                <div class=" mt-3 user max-w-72 rounded-lg p-4 bg-zinc-800">
                    <div class="w-full h-52 bg-zinc-500 rounded-lg "></div>
                    <h3 class="text-xl mt-3 tracking-tighter">Raziullah Siddavatam</h3>
                    <h5 class="text-zinc-500">Razi@children.com</h5>
                    <div class="flex gap-3 mt-3">
                        <a class="text-zinc-200" href="">Edit User</a>
                        <a class="text-red-500" href="">Delete user</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</body>
</html>